@model SUREBusiness.Models.NoteModel
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
        }
    </style>
</head>
</html>
<table>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td style="font-weight:bold;">Manager Name</td>
                    <td>@Html.DisplayFor(model => model.ManagerName)</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Indiener</td>
                    <td>@Html.DisplayFor(model => model.CustomerName)</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Toegewezen</td>
                    <td>@Html.DisplayFor(model => model.CategoryName)</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Categorie</td>
                    <td>@Html.DisplayFor(model => model.DateTime)</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Afgewerkt</td>
                    <td>@Html.DisplayFor(model => model.IsCompleted)</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Mobiel nummer</td>
                    <td>@Html.DisplayFor(model => model.MobileNumber)</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Opmerkingen</td>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
            </thead>
        </table>
        <div>
            <a asp-action="GetAllNotes">Terug</a>
        </div>
    </div>
</table>
